{
    :spec {
        :Name "spb_python_bot"
        :Image "nonamenix/spb_python_bot:0.5.8"
        :Env [
            "BOT_TOKEN=339614247:AAFmPbCn0EDiWnc3zHohvxJOviA5jM6CBqY"
            "MODERATORS=132982472 59323058 68121540"
            "HEALTHCHECKIO_TOKEN=de182458-5e72-4b04-8b4f-e454c7687fa2"
            "BOT_LOGGING_LEVEL=INFO"
            "SHOW_PEP_INFO=1"
            "MONGO_URL=mongodb://spbpythonbot:Lg2vxjoBT3oRmDd4XnyJ2VD6hJC3jb@ds046677.mlab.com:46677/spb_python_bot"
            "MONGO_HEALTHCHECKIO_TOKEN=fb6c17b8-a64a-41bf-83c7-267ee5124368"
        ]
        :HostConfig {
            :RestartPolicy {:Name "always"}
            :NetworkMode "petprojects_default"
        }
    }
    :health-timeout 45
}
